@import "/home/anirud/.cache/wal/colors-waybar.css";

@define-color bg @background;
@define-color fg @foreground;

* {
    border: none;
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    font-weight: normal;
}

window#waybar {
    background-color: @bg;
    /*background-color: #000000;*/
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0px;
    opacity: 0.9;
}

window#waybar.hidden {
    opacity: 0;
}

window#waybar.empty #window {
    background: none;
}

#workspaces button {
    padding: 0px 10px;
    margin-right: 0px;
    background-color: transparent;
    color: @color4;
}

#workspaces button.urgent {
    color: @color1;
}


#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-date,
#custom-usbdrive,
#custom-maildir,
#custom-power,
#custom-emacsd,
#custom-tabletmode,
#scratchpad,
#window,
#mpd,
#idle_inhibitor,
#idle_inhibitor.activated,
#taskbar button,
#taskbar button.active {
    padding: 0px 7px;
    margin: 4px 5px;
    background-color: transparent;
    border-radius: 5px;
}
#taskbar button.active {
    background-color: @color4;
    opacity: 0.8;
}

#window {
    border-radius: 0px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    font-weight: normal;
    margin: 0px 5px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#pulseaudio.muted {
    color: @color1;
}

