@define-color bg rgba(0,0,0,0.9);
@define-color fg #ebdbb2;
@define-color red #fb4934;
@define-color green #b8bb26;
@define-color blue #83a598;
@define-color yellow #fabd2f;
@define-color gray #928374;

* {
  font-family: JetBrains Mono, Symbols Nerd Font Mono;
  min-height: 0;
  font-size: 13px;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: .3s;
}
window#waybar {
  background-color: @bg;
}
#workspaces button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: @bg;
  color: @fg;
}
#workspaces button.active {
  background-color: @blue;
  color: @bg;
}
#workspaces button:hover {
  background-color: @fg;
  color: @bg;
}
#workspaces button.urgent {
  color: @red;
}
tooltip {
  background: @bg;
}
tooltip label {
  color: @fg;
}
#clock, 
#memory, 
#cpu,
#mpd, 
#pulseaudio, 
#network, 
#battery
{
  padding-left: 6px;
  padding-right: 6px;
  color: @fg;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    color: @blue;
}
#network {
    color: @green;
}
#pulseaudio.muted {
    color: @blue;
}
#pulseaudio {
    color: @green;
}



@keyframes blink {
    to {
        color: @fg;
    }
}
