* {
  font-family: JetBrains Mono;
}

window {
  margin: 0px;
  border: none;
  border: 1px solid #928374;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 4px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #928374;
  font-weight: bold;
  background-color: none;
  outline: none;
  border-radius: 4px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 4px;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: none;
  border-radius: 4px;
  border: 1px solid #928374;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  margin-bottom: 5px;
}

#text:selected {
  color: #000000;
  margin: 0px 0px;
  border: none;
  border-radius: 4px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px;
  color: #928374
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 3px;
  background: #928374;
}
